#model_body_div input, #model_body_div select,textarea{
margin-bottom:15px;
border:1px solid #242e38;
height:60px;
 
}

#model_body_div input, #model_body_div select, textarea {
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid #242e38;
    height: 60px;
    width: 290px;
}


.login_mybtn{
	
	width: 80px !important;
	padding: 0 !important;
    height: 30px !important;
    background: #14588e;
    color: white;
     margin-left:60% !important;
}


.success{
font-family:arial;
font-size:12px;
color:green;
align:center;
text-align:center;

}


.error{
font-family:arial;
font-size:12px;
color:red;
align:center;
text-align:center;

}

.forgot_password_link{
	cursor: pointer;
}


.forgot_password_link:hover{
	color:blue;
}

.edith_form_inputs{
	
	
	
}

#jsondata_p{
	
	margin-left:320px;
}



@import url(table_two_cols.css);